{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
<div class="row">
    <div class="col-am-12" style="background: url(../static/images/naini_breadcrumb.jpg); width: 100%; height: 235px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mt-5 pt-5 text-light" style="margin-left: 100px;">

                    <span><a href="">Home</a>/ Chairman’s Message</span>
                    <h2>Chairman’s Message</h2>
                    <div class="line" style="background-color: rgb(76, 152, 223); width: 250px; height: 5px;"></div>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </div>
    <div class="line" style="background-color: grey; height: 10px; width: 100%;"></div>
</div>
</div>


<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-sm-3">
            <div class="b-img">
                <style>
                    .b-img {
                        border: 1px solid #dee3e8;
                        padding: 14px;
                        text-decoration: none;
                        background-color: #fff;
                        -webkit-box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        -moz-box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        border-radius: 6px;
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                    }
                </style>
                <img src="../static/images/Principal-HD-Photo.jpeg" alt="" width="270px" height="300px">
            </div>
            <p style="font-weight: 700; color: #0058a9; text-align: center; font-size: 24px;">Ms. KAMLA PAL</p>

            <p style="text-align: center; font-size: 14px; color: #777; font-weight: 700;">Principal, Seth Anandram
                Jaipuria <br>School <br>
                Sadhu Campus,Barabanki</p>

        </div>
        <div class="col-sm-8 " style="line-height: 27px;">
            <!-- <p style="font-weight: 700;">Dear Students, Parents, and Well-wishers,</p> -->
            <p>As you explore our offerings, you’ll discover answers to your initial inquiries about our school,
                academic programs, and student life. Serving as the Principal, I am honored to be part of an educational
                institution where every stakeholder is a learner, and each day presents an opportunity for discovery. We
                view ourselves as a community of learners, where teachers, parents, and staff are actively engaged in
                the learning process.</p>

            <p>Maintaining high standards, I am committed to understanding and enhancing the educational process. We
                employ a dual strategy approach—Love and Logic—to create a positive learning environment. Love fosters
                trusting relationships, ensuring students feel respected and valued, while Logic instills personal
                responsibility, self-control, decision-making skills, self-confidence, and character-building with high
                moral values.

            </p>
            <p>Your child’s learning journey is a collaborative effort between home and school. We believe that a strong
                partnership enhances your child’s overall experience. Learning is inherently social, and I eagerly
                anticipate working with you to create a school where parents are always welcome, students engage in
                meaningful learning, and staff members are valued for their contributions.</p>


            <p>Together, we aim to uphold a standard of excellence, promote a positive learning atmosphere, and foster
                an environment where everyone can thrive. I look forward to the collective efforts of our entire
                community as we embark on this educational journey together.</p>

           
        </div>
    </div>
</div>





{%endblock%}