{% extends 'base.html' %}
{% block body %}
{% load static %}

<div class="container-fluid">
<div class="row">
    <div class="col-am-12" style="background: url(../static/images/naini_breadcrumb.jpg); width: 100%; height: 235px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mt-5 pt-5 text-light" style="margin-left: 100px;">

                    <span><a href="">Home</a>/ Chairman’s Message</span>
                    <h2>Chairman’s Message</h2>
                    <div class="line" style="background-color: rgb(76, 152, 223); width: 250px; height: 5px;"></div>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </div>
    <div class="line" style="background-color: grey; height: 10px; width: 100%;"></div>
</div>
</div>


<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-sm-3">
            <div class="b-img">
                <style>
                    .b-img {
                        border: 1px solid #dee3e8;
                        padding: 14px;
                        text-decoration: none;
                        background-color: #fff;
                        -webkit-box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        -moz-box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        border-radius: 6px;
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                    }
                </style>
                <img src="../static/images/chairmanMr-Ajay-Chaudhary.jpg" alt="" width="270px" height="300px">
            </div>
            <p style="font-weight: 700; color: #0058a9; text-align: center; font-size: 24px;">Er. Ajay Chaudhary</p>

            <p style="text-align: center; font-size: 18px;">Chairman <br>
                Seth Anandram Jaipuria School, <br> Sadhu Campus – Barabanki</p>

        </div>
        <div class="col-sm-8 " style="line-height: 27px;">
            <p style="font-weight: 700;">Dear Students, Parents, and Well-wishers,</p>
            <p>“In education lies the key to unlocking the golden door of freedom.” These profound words of Dr. A.P.J.
                Abdul Kalam resonate deeply with our mission here at Seth Anandram Jaipuria School. As the chairman of
                our esteemed institution, I am honored to lead a community dedicated to harnessing the transformative
                power of education.</p>

            <p>We firmly believe that education is not just about imparting knowledge but also empowering individuals to
                shape their destinies and change the world. In recognizing the pressing need for academic and
                skill-based learning in our community, we have tailored our curriculum to focus on practical expertise
                and hands-on experience.

            </p>
            <p>Our approach goes beyond traditional methods of education; we aim to equip our students with the skills
                they need to thrive in today’s dynamic and competitive world. In addition, we will instil values and
                attitudes for learners to lead with confidence.</p>


            <p>Through a combination of innovative teaching methods and real-world applications, we nurture the talents
                and aspirations of our students. Whether it’s developing academic rigour, mastering technical skills,
                honing creative talents, or building critical thinking abilities, our school provides a supportive
                environment where every student can flourish.</p>

            <p>As we forge ahead on this noble path, let us unlock the doors of opportunity and pave the way for a
                brighter tomorrow through the power of new-age education.</p>
        </div>
    </div>
</div>

{%endblock%}