{% extends 'base.html' %}
{% block body %}
{% load static %}

<div class="container-fluid">
<div class="row">
    <div class="col-am-12" style="background: url(../static/images/naini_breadcrumb.jpg); width: 100%; height: 235px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mt-5 pt-5 text-light" style="margin-left: 100px;">

                    <span><a href="">Home</a>/ Founder’s Message</span>
                    <h2>Founder’s Message</h2>
                    <div class="line" style="background-color: rgb(76, 152, 223); width: 250px; height: 5px;"></div>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </div>
    <div class="line" style="background-color: grey; height: 10px; width: 100%;"></div>
</div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-3">
            <div class="b-img">

                <img src="../static/images/founderMr.Sadhu-Ram.jpg" width="270px" height="370px">

            </div>
            <h4 style="text-align: center; color: blue; font-weight: 700; " class="mt-2">Shri Sadhu Ram Ji</h4>
            <h5 style="text-align: center; font-weight: 700;">Founder</h5>
        </div>
        <div class="col-sm-6">
            <p style="font-size: 16px; font-weight: 700; "> Dear Parents, Guardians and Students,</p>

            <p style="font-size: 16px; line-height: 30px; font-weight: 400;">The journey of Seth Anandram Jaipuria
                School begins with a profound commitment to bridge the gap in
                educational access and quality that persists in rural areas. Having grown up in a similar environment, I
                understand first-hand the challenges faced by students who aspire for a modern and English-based
                education but lack the means to pursue it.</p>

            <p style="font-size: 16px; line-height: 30px; font-weight: 400;">It is this very understanding that has
                fuelled our mission to establish a school that not only imparts
                knowledge but also nurtures dreams. Our curriculum is meticulously designed to blend traditional values
                with contemporary teaching methodologies, ensuring that every student receives a holistic education that
                prepares them for success in the 21st century.</p>
        </div>
        <div class="col-sm-3">
            <div class="card b-img">
                <style>
                    .b-img {
                        border: 1px solid #dee3e8;
                        padding: 14px;
                        text-decoration: none;
                        background-color: #fff;
                        -webkit-box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        -moz-box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        border-radius: 6px;
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                    }
                </style>
                <img src="../static/images/foundeMrs.-Sushmawati-2.jpg" width="270px" height="370px">
            </div>
            <h4 style="text-align: center; color: blue; font-weight: 700; " class="mt-2">Smt. Sushmawati Ji</h4>
            <h5 style="text-align: center; font-weight: 700;">Founder</h5>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12" style="text-align: justify;">
            <p >At our school, we envision a learning environment where curiosity is encouraged, critical thinking is
                 fostered, and creativity is celebrated. Through interactive classrooms, state-of-the-art facilities, and
                a dedicated team of educators, we aim to ignite a passion for learning that transcends boundaries and
                empowers students to realize their full potential.</p>

            
            
            <p>As we embark on this journey together, I invite you to join us in shaping a future where every child has
                access to quality education. Together, let us sow the seeds of knowledge, nurture the aspirations of our
                youth, and build a brighter tomorrow for generations to come.</p>
            
                
                <p>Thank you for entrusting us with the education of your children. We look forward to partnering with you in this noble endeavour.</p>
        </div>
    </div>

</div>
{% endblock %}