{% extends 'base.html' %}
{% block body %}
{% load static %}
<!-- top start -->
<div class="container-fluid">
    <div class="row">
        <div class="col-am-12" style="background: url(../static/images/naini_breadcrumb.jpg); height: 235px; ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 mt-5 pt-5 text-light" style="margin-left: 100px;">

                        <span><a href="">Home</a>/
                            Academics</span>
                        <h2>Academics</h2>
                        <div class="line" style="background-color: rgb(76, 152, 223); width: 200px; height: 5px;"></div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </div>
        <div class="line" style="background-color: grey; height: 10px; width: 100%;"></div>
    </div>
</div>
<!-- top end -->

<!-- academic content start -->

<div class="container mt-5">
    <style>
        .container img{
            box-shadow: 10px 10px 10px gray;
        }
    </style>
    <div class="row">
        <div class="col-sm-8">
            <p style="text-align: justify;">The school applies the pedagogy of ‘Engaging the Learner’ and an
                ‘Interdisciplinary Approach’ to enhance
                the teaching/ learning experience of the youth. The idea is to move beyond lectures towards the
                application of engaging activities such as discussions, videos, quizzes, games, and varied online
                creative resources for enhancing the learning process. Technology is integrated into the
                teaching/learning process, with every classroom being IT-enabled. An interactive teaching methodology
                encourages students to be active learners and promotes conceptual understanding and reflective
                practices.</p>
            <p style="text-align: justify;">In the attempt to provide holistic learning, the school facilitates sessions
                on Life Skills as well as
                Intrapersonal and Interpersonal Development. Life Skills are the skills that one needs to build a happy
                and successful life. These provide young adolescents with a set of tools, skills and winning attitudes
                which can help them to become all that they are capable of becoming. Special Value Education and Life
                Skill Sessions by trained counselors endow the students with value based learning.</p>
        </div>
        <div class="col-sm-4">
            <img src="../static/images/acadmic/naini_academics_1.jpg" height="240px">
        </div>
    </div>
    <div class="row mt-4 mb-5">
        <div class="col-sm-4 mt-4">
            <img src="../static/images/acadmic/naini_academics_2.jpg" height="240px" alt="">
        </div>
        <div class="col-sm-8 mt-4">
            <p style="text-align: justify;">
                Teachers, the change-makers of tomorrow, are empowered through regular and constant research in the
                inviting ambience of the school. Endorsing a learning society and inquisitive mindset, teachers are
                entrusted with the responsibility of transforming the lives of students by listening to their points of
                view.
            </p>
            <p style="text-align: justify;">
                Teachers, the change-makers of tomorrow, are empowered through regular and constant research in the
                inviting ambience of the school. Endorsing a learning society and inquisitive mindset, teachers are
                entrusted with the responsibility of transforming the lives of students by listening to their points of
                view.
            </p>

            <p style="text-align: justify;">
                Teachers are no longer only the mentors but equal participants on stage alongside students. Thus, to
                ensure sound teaching practices, the candidates are professionally screened before recruitment and
                undergo a rigorous procedure for selection.
            </p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-4">
            <img src="../static/images/acadmic/naini_academics_3.jpg" height="240px" alt="">
        </div>
        <div class="col-sm-4">
            <img src="../static/images/acadmic/naini_academics_4.jpg" height="240px" alt="">
        </div>
        <div class="col-sm-4">
            <img src="../static/images/acadmic/naini_academics_5.jpg" height="240px" alt="">

        </div>
    </div>
</div>




<!-- academic content end -->



{%endblock%}