{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-am-12"
            style="background: url(../static/images/naini_breadcrumb.jpg); width: 100%; height: 235px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 mt-5 pt-5 text-light" style="margin-left: 100px;">

                        <span><a href="">Home</a>/


                            Rules & Regulation</span>
                        <h2>Rules & Regulation
                        </h2>
                        <div class="line" style="background-color: rgb(76, 152, 223); width: 250px; height: 5px;"></div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </div>
        <div class="line" style="background-color: grey; height: 10px; width: 100%;"></div>
    </div>
</div>
<!-- content start -->

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <h2 style="font-weight: 600; margin-bottom: 20px;">WITHDRAWAL RULES </h2>
        </div>
        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>
                A one- month notice period or one- month notice fee is required for withdrawal.</p>
        </div>


        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>

                Clearance must be obtained from the laboratory and library incharge before applying for withdrawal.</p>
        </div>


        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>


                Transfer Certificate will be issued after 15 days of the receipt of the application and clearance of all
                dues.</p>
        </div>



        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>


                Application for withdrawal is to be made on a prescribed proforma available in the school office. No
                child is withdrawn till a written request from parents is put up.</p>
        </div>



    </div>


    <!-- bus rules -->


    <div class="row">
        <div class="col-sm-12">
            <h2 style="font-weight: 600; margin-bottom: 20px;">BUS/VAN RULES </h2>
        </div>
        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>

                Existing routes will continue to ply. Change in routes and bus / van stops will not be entertained
                during the session.</p>
        </div>


        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>


                Any suggestions or complaints should be reported to the transport incharge. Parents are expected to
                treat the bus / van staff kindly.</p>
        </div>


        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>


                Request for using the bus / van must be made at the beginning of the session i.e. in the month of April.
                No request will be entertained mid-session.</p>
        </div>



        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>



                It will be the sole responsibility of the parents to escort the pupil to and from the fixed bus stops.
                The bus/van facility is extended at the sole risk and responsibility of the parents.</p>
        </div>



    </div>

    <!-- bus rules end -->
    <!-- modification -->

    <div class="row">
        <div class="col-sm-12">
            <h2 style="font-weight: 600; margin-bottom: 20px;">RIGHT TO ALTERATION/MODIFICATION </h2>
        </div>
        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>

                Seth Anandram Jaipuria School reserves its right to change the Fee Structure.</p>
        </div>


        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>

                Management reserves the right to modify, alter and/or include any other terms and conditions that may be
                deemed fit in the interest of the Institution.

            </p>
        </div>

    </div>


    <!-- modification end -->
    <!-- medical faci -->

    <div class="row">
        <div class="col-sm-12">
            <h2 style="font-weight: 600; margin-bottom: 20px;">MEDICAL FACILITY </h2>
        </div>
        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>


                The school provides facilities of first-aid only.

            </p>
        </div>


        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>

                The school has a well equipped dispensary to deal with emergency.

            </p>
        </div>
        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>


                The school cannot be held responsible for injury suffered by a child. No reimbursement of charges would
                be made towards any medical treatment.

            </p>
        </div>

    </div>



    <!-- medical end -->

    <!-- registration -->

    <div class="row">
        <div class="col-sm-12">
            <h2 style="font-weight: 600; margin-bottom: 20px;">REGISTRATION PROCEDURE & RULES </h2>
        </div>
        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>


                Registration Forms are to be filled in and submitted to the School Office before the end of the
                Registration period.

            </p>
        </div>


        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>


                Incomplete or illegible Registration Forms, without photographs will not be processed / accepted.

            </p>
        </div>
        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>



                Dates for test / interviews / interaction will be given at the time of registration. The school
                authorities reserve the right to change the date and time of the interview.
            </p>
        </div>


        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>



                Mere issue of form or registration does not confirm admission which is subject to Admission Test /
                interviews / interaction and also to the availability of seats.
            </p>
        </div>


        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>



                Photo copy of Birth Certificate issued by Municipal Corporation or concerned civic authority must
                accompany the Registration Form for classes Nursery & LKG, UKG. Photocopy of report card of the last
                exam passed must be attached with the Registration Form for Classes I & above.
            </p>
        </div>



        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>




                Age of admission to class Pre-nursery is 3+ years and class 1st is 6+ years on 1st April of the academic
                session in which admission is being sought. Age should be properly specified in the form. Request for
                relaxation of age criterion will not be entertained.
            </p>
        </div>

    </div>



    <!-- registration end -->


    <!-- fee payment -->

    
    <div class="row mb-5">
        <div class="col-sm-12">
            <h2 style="font-weight: 600; margin-bottom: 20px;">PROCEDURE FOR FEE PAYMENT </h2>
        </div>
        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>


                At the time of admission, fee is payable by bank draft / pay order only at the school office.

            </p>
        </div>


        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>



                Cheque should be drawn in favor of “Seth Anandram Jaipuria School,, Sadhu Campus - Barabanki”.

            </p>
        </div>
        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>




                Fee is to be paid in advance for every three months before 10th of the first month. Fee once paid is not refundable, unless specified otherwise.
            </p>
        </div>


        <div class="col-sm-1 text-center"><span style=" font-size: 20px; color: brown;"><i
                    class="fa-regular fa-circle-check"></i></span></div>
        <div class="col-sm-11">
            <p>



                Payment of fee by cheque shall be accepted by our banker upto 10th of the first month of a term in which the payment falls due. Thereafter, payment will be accepted by the school office through cheque only.
            </p>
        </div>


       

    </div>


    <!-- fee payment end -->

</div>



<!-- content end -->


{%endblock%}