{% extends 'base.html'%}
{% load static%}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-am-12" style="background: url(../static/images/naini_breadcrumb.jpg); height: 235px; ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 mt-5 pt-5 text-light" style="margin-left: 100px;">

                        <span><a href="">Home</a>/ Medical Room
                        </span>
                        <h2>Medical Room</h2>
                        <div class="line" style="background-color: rgb(76, 152, 223); width: 220px; height: 5px;"></div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </div>
        <div class="line" style="background-color: grey; height: 10px; width: 100%;"></div>
    </div>
</div>
<!-- top end -->
<!-- content start -->

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-1"></div>
        <div class="col-sm-9">
            <h2 style="font-weight: 600;">MEDICAL ROOM</h2>
            <p style="color: #777; font-size: 20px; line-height: 29px;" class="mt-3">We have an experienced doctor and a
                trained nurse to provide necessary first aid to the students in a
                time of emergency. An annual health check-up including dental and eye check-ups by specialists is a
                regular feature along with maintaining a medical record of each and every child. Health advisory on
                prevention of various illnesses like swine flu, dengue, chickenpox, etc. is also a regular feature.</p>
        </div>
        <div class="col-sm-1"></div>

    </div>
</div>
<div class="container-fluid bg-body-tertiary">
    <div class="container">
        <div class="row">
            <style>
                .row  p span{
                    font-size: 20px;

                }
                
                    
            </style>
            <div class="col-sm-1"></div>
            <div class="col-sm-9 mb-5 mt-5">
                <h3 style="font-weight: 600;" class="mb-3"> Please Note:</h3>
                <p style="color: #777;"> <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>&nbsp;&nbsp;Students
                    will be provided first aid only in the school premises in case of medical problem</p>

                <p style="color: #777;" > <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>&nbsp;&nbsp;Students

                    In case of chronic diseases, school will only inform the parents telephonically. Parents will be
                    expected to reach school at &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the earliest.</p>

                <p style="color: #777;"> <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>&nbsp;&nbsp;
                    Expenses on first aid will be borne by the school. All other expenses in case of hospitalization/
                    visit to private clinic/ medicine will &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; borne by the parents.</p>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
</div>


<!-- content end -->
{%endblock%}