{% extends 'base.html'%}
{% load static%}
{% block body %}




<div class="container-fluid">
    <div class="row">
        <div class="col-am-12" style="background: url(../static/images/naini_breadcrumb.jpg); height: 235px; ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 mt-5 pt-5 text-light" style="margin-left: 100px;">

                        <span><a href="">Home</a>/
                            Other Facilities</span>
                        <h2>Other Facilities</h2>
                        <div class="line" style="background-color: rgb(76, 152, 223); width: 250px; height: 5px;"></div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </div>
        <div class="line" style="background-color: grey; height: 10px; width: 100%;"></div>
    </div>
</div>


<!-- top end -->
<!-- content start -->

<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3  mt-5">
            <style>
                .list{
                    list-style: none;
                }
                .list li{
                    background-color: blue;
                    margin-top: 5px;
                    text-align: center;
                    padding: 5px;
                    color: white;
                    font-weight: 600;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;

                }
                .list li:hover{
                    background-color: #ffc108;
                }
                .b-img{
                    border: 1px solid #dee3e8;
                        padding: 14px;
                        text-decoration: none;
                        background-color: #fff;
                        -webkit-box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        -moz-box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        border-radius: 6px;
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                        -ms-border-radius: 6px;
                        -o-border-radius: 6px;
                }
            </style>
            <ul class="list">

                <li class="bg-warning">Computer lab</li>
                <li>Language lab</li>
                <li>Computer lab</li>
                <li>Robotics lab</li>
                <li>Music & Dance Room</li>
                <li>Composite Science lab</li>
                <li>Library</li> 
                <li>Healthcare & Medical-Fitness</li>
                <li>Social science lab</li>
                <li>Art & craft Room</li>
                <li>Multipurpose Hall</li>
                <li>Indoor Games Room</li>
                <li>Outdoor Sports</li>
                <li>Sports Complex(Indoor Sports)</li>
                <li>Canteen Facilities</li>
                <li>Co-curricular Activities</li>
            </ul>

        </div>
        <div class="col-sm-8 bg-warning mt-5 ">
            <p class="mt-3 text-light" >
                Language Lab
                Robotics Lab
                Music & Dance Room
                Composite Science Lab
                Library
                Healthcare & Medical Fitness
                Social Science Lab
                Art & Craft Room
                Internal Auditorium/Multipurpose Hall
                Indoor Games Room
                Outdoor Sports
                Sports Complex (Indoor Sports)
                Canteen Facility
                Co-Curricular Activities
                We live in a digital age and those who stay abreast of the latest developments in technology have a better chance of succeeding in their social and professional lives. Students take to technology quite naturally, but what they need is disciplined guidance to turn their aptitude into a skill or qualification. Our Computer Lab does more than just introduce students to the fundamentals of computer science. Through a hands-on approach, we train students in the concepts of coding, web browsing, and designing. The students get exposure to different kinds of software and hardware. Outstanding students in the computer lab also get a chance to participate in inter-school contests and competitions.</p>

            <div class="b-img">
                <img src="../static/images/facilities/Computer-Lab.jpg"   height="450px" alt="">
            </div>
        </div>
    </div>
</div>


<!-- content end -->



{%endblock%}