{% extends 'base.html'%}
{% load static%}
{% block body %}



<div class="container-fluid">
    <div class="row">
        <div class="col-am-12" style="background: url(../static/images/naini_breadcrumb.jpg); height: 235px; ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 mt-5 pt-5 text-light" style="margin-left: 100px;">

                        <span><a href="">Home</a>/ Smart Class

                        </span>
                        <h2>Smart Class
                        </h2>
                        <div class="line" style="background-color: rgb(76, 152, 223); width: 180px; height: 5px;"></div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </div>
        <div class="line" style="background-color: grey; height: 10px; width: 100%;"></div>
    </div>
</div>

<!-- top end -->

<div class="container-fluid bg-body-tertiary">


    <div class="container ">
        <div class="row ">
            <div class="col-sm-5 ">
                <style>
                    .b-img {
                        border: 1px solid #dee3e8;
                        padding: 14px;
                        text-decoration: none;
                        background-color: #fff;
                        -webkit-box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        -moz-box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, .1);
                        border-radius: 6px;
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                        -ms-border-radius: 6px;
                        -o-border-radius: 6px;
                    }

                    .b-img img {
                        z-index: 5;
                    }

                    .content p b {
                        font-weight: 700;
                        color: #777;
                    }

                    .content p {
                        color: #777;
                    }
                </style>
                <div class="b-img mt-5 mb-3">
                    <img src="../static/images/Smart-Class.jpg" width="500px" alt="">
                </div>
            </div>
            <div class="col-sm-6 mt-5 mb-3 content">
                <p><b>The Jaipuria Smart Class</b> makes learning fun through the use of digital equipment such as VCD
                    or DVD players, laptops and computers attached to a projector.</p>

                <p>Students are provided with audio-visual information on various topics pertaining to different subject
                    areas from the large volume of material available online. This style of teaching engages students
                    with the lesson and improves creativity and curiosity to facilitate better knowledge retention.</p>


                <p>Mentors can use online information on different topics from latest educational material published
                    anywhere in the world and present the information by using PowerPoint presentations, word documents,
                    audio sessions, video screening, and other instructional tools.

                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>ADVANTAGES OF SMART CLASSES </h2>
                <p style="color: #777;"> <span style="color: brown; font-size: 20px;"><i
                            class="fa-regular fa-circle-check"></i></span>&nbsp;&nbsp;Students


                    Anytime access to extensive online information</p>


                <p style="color: #777;"> <span style="color: brown; font-size: 20px;"><i
                            class="fa-regular fa-circle-check"></i></span>&nbsp;&nbsp;Students

                    Interactive environment for better knowledge retention</p>
                <p style="color: #777;"> <span style="color: brown; font-size: 20px;"><i
                            class="fa-regular fa-circle-check"></i></span>&nbsp;&nbsp;Students
                    Education not confined to printed matter</p>


                <p style="color: #777;"> <span style="color: brown; font-size: 20px;"><i
                            class="fa-regular fa-circle-check"></i></span>&nbsp;&nbsp;
                    Availability of online notes ensuring better student concentration in class</p>
                
                    <p style="color: #777;"> <span style="color: brown; font-size: 20px;"><i
                            class="fa-regular fa-circle-check"></i></span>&nbsp;&nbsp;

                    Use of electronic tools such as digital pens that are easy to maintain</p>


                    <p style="color: #777;"> <span style="color: brown; font-size: 20px;"><i
                        class="fa-regular fa-circle-check"></i></span>&nbsp;&nbsp;

                        Smart classes offer the perfect solution for teaching students with disparate levels of IQs. Students who need further illustration of a specific concept already taught in class for &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;better comprehension can opt for the online resources of a smart class and retain the knowledge gained for larger periods of time.</p>

            </div>
        </div>
    </div>
</div>

{%endblock%}