{% extends 'base.html' %}
{% block body %}
{% load static %}

<!-- top -->

<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-am-12" style="background: url(../static/images/naini_breadcrumb.jpg); height: 235px; ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 mt-5 pt-5 text-light" style="margin-left: 100px;">

                        <span><a href="">Home</a>/
                            Transport</span>
                        <h2>Transport</h2>
                        <div class="line" style="background-color: rgb(76, 152, 223); width: 150px; height: 5px;"></div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </div>
        <div class="line" style="background-color: grey; height: 10px; width: 100%;"></div>
    </div>
</div>
<!-- top end -->

<!-- content start -->

<div class="container">
    <div class="row">
        <div class="col-sm-12 mb-5">
            <h2 style="margin-left: 90px; font-weight: 600;">TRANSPORT </h2>
            <p style="margin-left: 90px;">Students can avail the school transport, subject to the availability of seats. The routes of the school
                buses are framed keeping in mind the needs of the parents and they should consult the school
                transport-in-charge for details.</p>
        </div>
    </div>
</div>

<div class="conatiner-fluid " style="background-color: whitesmoke;">
    <div class="container">
        <style>
            .row span{
                font-size: 20px;
                line-height: 28px;
            }
            .row p{
                font-size: px;
                line-height: 28px;
            }
        </style>
        <div class="row mb-5 ">
            <h3 style="margin-left: 70px; font-weight: 600;" class="mt-5"><u>Bus Rules</u></h3>
        </div>
        <div class="row mt-3">
            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>
            <div class="col-sm-11">
                <p>
                    Parents should not try to overtake and stop the school bus to facilitate the boarding of their wards
                    as this endangers the safety of the bus and its occupants. This act will lead to strict disciplinary
                    action.</p>
            </div>

            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>
            <div class="col-sm-11">
                <p>

                    Parents are requested not to board school buses to see off or receive their wards.</p>
            </div>

            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>
            <div class="col-sm-11">
                <p>

                    Parents should not argue with the teachers present in the bus or the conductor / driver. If there is
                    any problem, a written communication should be forwarded to the Administrative Office.</p>
            </div>



            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>

            <div class="col-sm-11">
                <p>

                    Under no circumstances are students allowed to go behind or under the parked buses within the school
                    campus. Students are also not allowed to sit in the parked buses during school hours.</p>
            </div>





            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>

            <div class="col-sm-11">
                <p>


                    Under no circumstances, should students touch the instrument panel of the buses.</p>
            </div>


            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>

            <div class="col-sm-11">
                <p>



                    A student using the school bus is expected to be at the bus stop at least ten minutes before the
                    scheduled arrival of the bus. The student has to be on the correct side of the arriving bus. The
                    scheduled pick-up time is available with the transport-in-charge at the school. The school reserves
                    the right to alter the timings, routes and stops as and when necessary.</p>
            </div>


            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>

            <div class="col-sm-11">
                <p>




                    If a student misses his allotted bus he should not try to board any other bus. It is the
                    responsibility of the parents to drop off their wards to the school. However, the student will
                    return by the allotted bus.</p>
            </div>

            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>

            <div class="col-sm-11">
                <p>



                    If any parent whose child is availing school transport service wishes to take their ward privately
                    in his/her own transport, he/she has to collect the Permission Slip from the school authorities half
                    an hour before the end of the last class.</p>
            </div>

            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>

            <div class="col-sm-11">
                <p>




                    Students are allowed to use only the allotted bus and bus stop. No change can be allowed without
                    prior written permission of the school.</p>
            </div>

            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>

            <div class="col-sm-11">
                <p>

                    The buses will not wait for latecomers.</p>
            </div>


            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>


            <div class="col-sm-11">
                <p>

                    The school will not be held responsible for any lapse in the bus services. In case of any
                    discrepancy,
                    parents may meet the transport-in-charge.

                </p>
            </div>



            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>


            <div class="col-sm-11">
                <p>

                    No student should come near the entry door of the bus until it comes to a complete halt. The front
                    door of the bus is the only authorised entrance and exit.

                </p>
            </div>




            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>


            <div class="col-sm-11">
                <p>


                    Students should stay away from the main road until the bus arrives.
                </p>
            </div>

            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>


            <div class="col-sm-11">
                <p>


                    All students must occupy vacant seats immediately after boarding their respective buses. Reservation
                    of seats for co-commuters are not allowed under any circumstances.
                </p>
            </div>

            <div class="col-sm-1 text-end">
                <span style="color: brown;"><i class="fa-regular fa-circle-check"></i></span>
            </div>


            <div class="col-sm-11 mb-5">
                <p>


                    The students must make sure that the aisle of the bus is clear and school bags/other belongings are placed properly.
                </p>
            </div>


        </div>
    </div>
</div>

</div>

</div>
</div>
</div>


<!-- content end -->


{%endblock%}